:root {
    --dark-blue: #262654;
    --light-blue: #6082b6;
    --lighter-blue: #b8c8e1;
    --lightest-blue: #d3dff2;
    --light-tan: #fff1bd;
    --copy-color: #7d8699;

    font-size: calc(13px + 0.4vw);

    --copy-font: "Crimson Text", serif;
    --title-font: "Bebas Neue", serif;
}

html,
body {
    padding: 0;
    margin: 0;
}

#header-helper {
    position: absolute;
    top: 0;
    width: 50px;
    height: 50px;
}

header {
    position: sticky;
    top: -1px;
    z-index: 100;
    box-shadow: inset 10rem 0 9rem -5rem black;
    padding: 2em 3em 5em 5em;
    background-color: var(--dark-blue);
    transition: all 0.5s;
}
header h1 {
    font-size: 5rem;
    line-height: 1em;
    color: var(--light-tan);
    letter-spacing: 0.04em;

    margin-bottom: 0.1em;
    text-shadow: 0 0 0.5em black;

    transition: all 0.5s;
}

header.is-pinned {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    box-shadow: 0 0 1rem 0 black;
}

header.is-pinned h1 {
    font-size: 2rem;
    width: auto;
    display: block;
    margin: 0.3em 0;
}

#select-category,
#category-label {
    margin-left: 1.4em;
    font-size: 1em;
}
#category-label {
    color: var(--lighter-blue);
    padding-bottom: 0.21em;
}

.is-pinned #category-column .#category-label{
    text-align: right;
}

#select-category {
    border-radius: 0.2em;
    background-color: var(--lighter-blue);
    color: var(--dark-blue);
    padding: 0.07em 0.3em 0.1em;
    font-size: 0.85em;
}

select#select-category:focus-visible {
    border: none;
    outline: none;
}

header.is-pinned #select-category {
    display: block;
}

#books-list {
    background-color: var(--light-blue);
}

.book {
    display: flex;
    align-items: stretch;

    position: relative;

    font-family: sans-serif;
    color: var(--light-blue);
    padding: 1rem 2rem 1rem 2.5rem;
    /* border: 1px solid pink; */
    background: linear-gradient(
        var(--light-blue),
        var(--dark-blue),
        var(--light-blue)
    );

    transition: all 0.5s;
}
.book::before {
    /* optional gradient */
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;

    opacity: 1;
    transition: opacity 0.5s;
}

/* .book:first-child {
    padding-top: 2rem;
} */
.book .book-cover-holder {
    margin-top:1rem;
    position: relative;
}
.book img.book-cover {
    height: 40vw;
    width: auto;
    max-height: 50ch;
    min-height: 260px;
}
.book .ranking {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    z-index: 1;
    top: -0.75rem;
    left: -0.8rem;
    transform: rotate(-30deg);

    font-size: 1em;
    font-weight: bold;
    /* rank color  */
    --rank-color: var(--lighter-blue);
    color: var(--rank-color);
    border: 0.2rem solid var(--rank-color);
    border-radius: 50%;
    width: 2ch;
    height: 2ch;
    --shadow-color: rgba(38, 38, 84, 0.25);
    --x-shadow-offset: 0.1em;
    --y-shadow-offset: 0.2em;


}

.book:hover .ranking {
    left: -0.35em;
    /* display: none; */
    --rank-color: transparent;
    --shadow-color: transparent;
}

.book .info {
    display: flex;
    flex-direction: column;

    position: relative;

    font-family: var(--copy-font);
    line-height: 1.1em;
    flex-grow: 1;
    padding: 0 1rem;
    box-sizing: border-box;
}
.book .info > * {
    flex-basis: 33%;
    flex-grow: 1;
    display: flex;
    align-items: center;
}
.book:hover {
    color: white;
    padding-left: 10vw;
    /* border: 3px solid orange; */
}
.book:hover::before {
    opacity: 1;
}
.book .info {
    transition: padding 0.5s;
}
.book:hover .info {
    padding: 0 2rem;
}
.book .title-author {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.book .title {
    font-family: var(--title-font);
    font-size: 3rem;
    line-height: 3rem;
    margin: 0;
}
.book:hover .title {
    text-shadow: 1px 1px 0 var(--dark-blue);
}
.book .author {
    font-family: sans-serif;
    font-weight: normal;
    font-size: 0.8rem;
    line-height: 0;
    margin: 0;
}
.book .description {
    font-size: 1.1rem;
    line-height: 1.3em;
    margin: 0;
    max-width: 40ch;
}

.book .description {
    color: rgba(255, 255, 255, 0);
    /* color: var(--copy-color); */
    transition: color 1s;
}
.book a {
    color: var(--lighter-blue);
}
.book:hover a {
    color: var(--lighter-blue);
}

.book:hover .description {
    color: var(--lightest-blue);
}
.book .buy {
    display: flex;
    align-items: flex-end;

    font-family: sans-serif;
    font-size: 0.8rem;
    margin: 0;
}
.book .links {
    visibility: hidden;
}
.book:hover .links {
    visibility: visible;
}
.book a {
    font-size: 0.8rem;
    display: inline-block;
    margin: 0 1.5em 0 0;
    text-decoration-color: transparent;
    transition: font-size 0.5s, text-decoration-color 0.5s, color 0.5s;
}
.book a:hover {
    text-decoration-color: white;
    color: white;
    font-size: 1.2em;
}

@media (min-width: 1100px) {
    .book {
        display: inline-flex;
        width: 50%;
        box-sizing: border-box;
    }
    .book:hover {
        padding-left: 1rem;
    }
    .book:nth-child(2) {
        padding-top: 1rem;
    }
    .book a {
        margin: 0.1rem 0.5rem 0 0;
    }
    .book .description {
        font-size: 1rem;
    }
}

@media (max-width: 510px) {
    .book {
        display: block;
        padding: 2rem 10vw;
    }
    .book .book-cover-holder {
        display: block;
    }
    .book .info {
        border-bottom: 1px solid var(--lighter-blue);
        padding: 1rem 0;
    }
    .book .info .title-author {
        order: -1;
        margin-bottom: 1rem;
    }
    .book .author {
        margin-bottom: 0.5rem;
    }
    .book .buy .links {
        visibility: visible;
        margin-top: 1rem;
    }
    .book a {
        margin-left: 0;
        margin-right: 1rem;
    }
    .book:hover {
        background: var(--light-blue);
    }
    .book:hover .ranking {
        top: -1.25rem;
    }
    .book:hover .info {
        padding: 1rem 0;
    }
}
@media (max-width: 430px) {
    header {
        padding: 2rem 2rem 3rem;
    }
    header h1 {
        text-align: left;
        margin-bottom: 1rem;
    }
    #select-category {
        width: 20ch;
    }
}
